[Desktop Entry]
Type=Application
Name=Install VeloGuardOS
Comment=Install VeloGuardOS to your drive (graphical installer)
Exec=sudo -E calamares
Icon=system-os-installer
Terminal=false
Categories=System;Settings;
Keywords=install;installer;disk;calamares;
